#container-detalles-carrito {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, .04);
    max-height: 600px;
}


/* Estilos de prendas */
#render-items-carrito {
    max-width: 400px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 5px;
    gap: 5px;
    overflow-y: scroll;
}

.conteiner-prenda {
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.img-prenda-carrito {
    max-width: 100px;
    object-fit: contain;
    border-radius: 8px 0px 0px 8px;
}

.detalles-prenda {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
}

.detalles-prenda h5 {
    text-align: center;
}

.detalles-prenda button {
    position: absolute;
    top: -5px;
    right: 5px;
    border: none;
    font-weight: bolder;
    background: none;
}

.detalles-prenda p {
    margin: 5px 10px;
}

/* Estilo aside info */
#detalles-carrito {
    box-sizing: border-box;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin: 5px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#detalles-carrito p {
    margin: 0;
}

#titulo-detalle {
    margin: 5px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.8rem;
}

#prendas-seleccionadas {
    max-height: 200px;
    height: 100%;
    overflow-y: scroll;
    padding-left: 0;
    margin-bottom: 0;
}

#prendas-seleccionadas li {
    margin: 2px 0;
    position: relative;
    list-style: none;
    padding-left: 10px;
}

#prendas-seleccionadas span {
    position: absolute;
    right: 10px;
}

#monto-final {
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
    position: relative;
}

#monto-final span {
    position: absolute;
    right: 10px;
}

.grupo-btn{
    display: flex;
    justify-content: space-around;
}

#detalles-carrito button {
    width: 40%;
    margin-bottom: 10px;
    border-radius: 18px;
    background: none;
    border: none;
    box-shadow: 0 0 4px black;
    font-size: 1rem;
}
