/* Estilos para el encabezado */
header {
    background-color: #0e0d0d; 
    color: #F1E9E5;
    padding: 10px 0;
}

/* Estilos para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #F1E9E5;
    margin: 0;
    padding: 0;
}

/*Logo*/
.logo{
    margin-left: 10px;
}

/* Estilos para la navegación */
nav {
    margin-left: 70px;
    margin-top: -55px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    padding: 15px; 
    font-size: 18px; 
}

/* Cambiar color del enlace y eliminar subrayado al pasar el mouse */
nav ul li a:hover {
    color: rgb(241,233,229);
    text-decoration: none;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0; 
    background-color: #0a0a0a;
    padding: 0;
}

nav ul ul li {
    display: inline-block;
    width: 100%;
}

nav ul ul li a {
    padding: 10px;
}

nav ul li:hover > ul {
    display: block;
}

/* Estilos para subniveles de navegación */
nav ul ul ul {
    top: 0;
    left: 100%;
}

nav ul ul ul li {
    display: block;
}

nav ul ul ul li a {
    padding: 10px;
}

.sidebar {
    float: left;
    width: 200px; /* Ancho de la barra lateral */
    padding: 20px;
    background-color: #000000;
    color: white;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar form {
    margin-bottom: 20px;
}

.sidebar label {
    display: block;
    margin-bottom: 5px;
}

.sidebar select, .sidebar input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
}

.main-content {
    margin-left: 220px; /* Asegúrate de ajustar esto para dejar espacio para la barra lateral */
    padding: 20px;
}
/* Estilos para el pie de página */
.main-footer {
    background: #0a0a0a;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.main-footer p {
    margin: 0;
}

.main-footer a {
    color: white;
}
.product {
    text-align: center;
    margin-bottom: 20px;
}
.product img {
    width: 200px;
    height: auto;
}
.product .price {
    font-weight: bold;
}
.product .description {
    color: #666;
}
h1{
    font-family: Arial, Helvetica, sans-serif; font-size: 22px; color: black;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.price {
    font-weight: bold;
}

.description {
    color: #666;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.price {
    font-weight: bold;
}

.description {
    color: #666;
}
.social-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-list li {
    display: inline-block;
    margin-right: 10px; /* Espacio entre los íconos */
}

.social-list img {
    width: 30px; /* Tamaño de los logotipos */
    height: auto;
}
p{
    font-weight: bold;
}