* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  background: linear-gradient(147deg, rgba(252, 13, 0, 0.2) -10%, rgba(252, 248, 0, 0.2), rgba(42, 252, 0, 0.2) 95%)
}

/* Header */

header {
  background-image: url(../imagenes/cover/0bcaa32cc4974d4792d1ca9418c82ddd.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  height: 200px;
  line-height: 200px;
  font-size: 8rem;
  color: white;
  text-shadow: 0 0 15px black;
}

.mogra-regular {
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
}

header img {
  width: 100%;
  object-fit: cover;
}

/* Footer */

footer {
  background-color: black;
}

footer p {
  height: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 560px) {
  header h1 {
    height: 150px;
    line-height: 150px;
    font-size: calc(2rem + 6.9vw);
  }
}
